@charset "UTF-8";
/* CSS Document */


/*--------------------------------------------------------------

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Sub Menu
	3.3 - Footer Menu
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/




/*-----------------------1.0 Typography----------------------*/

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

	/*1.1 - Headings*/

h2 {
	font-size: 3.567rem;
}
	
h2, h3, li, a {
	text-transform: uppercase;
}

	/*1.2 - Body Copy*/
	

#about p {
	font-size: 1rem;
	line-height: 2.111rem;
}


blockquote {
	font-size: 2.567rem;
	padding-top: 130px;
	font-weight: 700;
}
	
	/*1.3 - Buttons*/
	
#eveningoak	div a, .content a, #white-one div a, #white-two div a {
	border: 4px solid black;
	border-radius: 10px;
	background-color: white;
	color: black;
	padding: 5px 15px;
	font-weight: 700;
}

#eveningoak	div a:hover, .content a:hover, #white-one div a:hover, #white-two div a:hover{
	border-radius: 10px;
	background-color: black;
	padding: 5px 15px;
	font-weight: 700;
	color: white;
}

#eveningoak div a {
	position: relative;
	left: 50px;
	top: 80px;
}

#eveningoak div .product {
	position: relative;
	left: 220px;
}

	
	/*1.4 - Forms*/

form {
	margin-top: 20px;
}

input {
	margin-bottom: 20px;
	padding: 10px 0;
}

input:nth-child(2) {
	margin-right: 30px;
}

#white-two form, #white-two input {
	width: 100%;
}

form h4 {
	float: left;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 500;
}

	/*1.5 - Lists*/
	
li {
	display: inline-block;
	padding-right: 20px;
	font-size: 0.75rem;
}

	
/*---------------------2.0 - Navigation Menus---------------*/


	/*2.1 - Main Menu*/
	
header-first-child {
	padding-top: 30px;
}

nav {
	padding-top: 50px;
	padding-bottom: 40px;
}

	/*2.2 - Sub Menu*/
	
.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	padding-right: 20px;
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	padding-right: 0px;
}

	/*2.3 - Footer Menu*/
	
footer {
	padding: 10px 0;
}

/*---------------------3.0 - Content------------------------*/


	/*3.1 - Site Structure (Site Header, Advertisement, Site Footer)*/

.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
	text-align: center;
}
	
/*--------------------4.0 - Media---------------------------*/

#image-logo {
	background-image: url(../img/twin-finch-logo.png) ;
	width: 163px;
	height: 109px;
	margin-top: 25px;
}

#quote {
	background:url(../img/twin-finch-back-image.jpg) center ;
	background-size: cover;
	height: 600px;
}

img {
	max-width: 100%;
}

#eveningoak {
	background-image:url(../img/twin-finch-cover.jpg);
	padding-top: 100px;
	height: 832px;
}

footer ul li:first-child {
	background-image: url(../img/facebook-icon.png) ;
	height: 30px;
	width: 30px;
	background-position: 0 0;
}

footer ul li:first-child:hover {
	background-position: 0 -30px;
}

li a {
	display: block;
	height: 100%;
}

ul {
	list-style: none;
}


.instagram {
	background-image: url(../img/gmail.png);
}

.facebook {
	background-image: url(../img/facebook.png);
}

.facebook, .instagram, .twitter {
	background-size: cover;
	width: 55px;
	height: 55px;
}

.product, .product-98 {
	width: 156px;
	height: 202px;
    margin-left: 20px;
}

.product {
	background:url(../img/twin-finch-product.jpg);
}

.product-98 {
	background:url(../img/twin-finch-product-98.png);
}

#map {
	background:url(../img/comfort-inn-portland-map.gif);
	height: 300px;
    margin-top: 20px;

}

/*--------------------5.0 - Utility-------------------------*/

	/*5.1 - Background Colors*/
	
#about {
	padding-top: 150px;
	padding-bottom: 150px;
}

#about, footer, input {
	background-color: #000000;
}

header-first-child {
	background-color: #FFF;
}

	/*5.2 - Text Colors*/
	
#about, footer, a#howtobrew, input   {
	color: #FFF;
}

a:hover {
	color: #000000; 
}

a, nav, #about a {
	color: #828282;
}

#about a:hover {
	color: #FFF;
}

	/*5.3 - Text Sizes*/

#eveningoak p {
	font-size: 1.563rem;
}

a {
	text-decoration: none;
}

.col-1-4 .content p:first-of-type {
	font-size: 13px;
}

.content span {
	font-style:italic;
}

	/*5.4 - Alignments*/

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

#our-products {
	padding-top: 100px;
	padding-bottom: 100px;
}

#about h2 {
	text-align: left;
}

#eveningoak p, h2, form, ul {
	text-align: center;
}

#white-one {
	padding-top: 100px;
	padding-bottom: 100px;
}

#white-two {
	padding-top: 100px;
	padding-bottom: 100px;
}

#image-logo, [class*='col-'], [class*='col-']:last-of-type {
	float: left;
}

nav {
	float: right;
}

#our-products .col-1-4:first-child .content p:nth-child(2) {
	padding-bottom: 53px;
}
#our-products .col-1-4:nth-child(2) .content p:nth-child(2) {
	padding-bottom: 30px;
}
#our-products .col-1-4:nth-child(3) .content p:nth-child(2) {
	padding-bottom: 71px;
}
#our-products .col-1-4:nth-child(4) .content p:nth-child(2) {
	padding-bottom: 69px;
}

.col-1-4 .content p:nth-child(3) {
	padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
	
/*1.0 - Typography*/

	/*1.1 - Headings*/

h1 {
	font-size: 2.813rem;
	text-transform:uppercase;
	text-align: center;
}

	
h2 {
	text-align: center;
	font-size: 2.0rem;
}

h2, h3 {
	text-transform: uppercase;
}

#about h2 {
	text-align: left;
	width: 100%;
}

#black p {
	font-size: 1.222rem;
	line-height: 28.5px;
}

h1, h2, p {
	font-family: 'Open Sans', sans-serif;
}
	
	/*1.2 - Body Copy*/
	
	/*1.3 - Buttons*/
	
	/*1.4 - Forms*/
	
	/*1.5 - Lists*/

li {
	padding-right: 0px;
}

/*2.0 - Navigation Menus*/

	/*3.1 - Main Menu*/
	
	/*3.2 - Sub Menu*/
	
	/*3.3 - Footer Menu*/
	
/*3.0 - Content*/

	/*3.1 - Site Structure (Site Header, Advertisement, Site Footer)*/

blockquote {
	padding-top: 80px;
	font-size: 1.1rem;
	text-align: center;
}

.col-7-2 {
	width: 100%;
}
	
.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 100%;
}

.col-1-4 {
	width: 100%;
}

.col-1-3 {
	width: 100%;
}

.col-1-4:nth-child(2) {
	padding-right: 0;
}
	
/*4.0 - Media*/

#eveningoak {
	background-image:url(../img/twin-finch-cover.jpg);
	padding-top: 50px;
	height: 662px;
}

#image-logo {
	background-image: url(../img/twin-finch-logo.png) ;
	width: 163px;
	height: 109px;
	margin-left: 70px;
}

#quote {
	background:url(../img/twin-finch-back-image.jpg) center ;
	background-size: cover;
	height: 400px;
}

#our-products .product, .product-98 {
	margin: 0 auto;	
}

/*5.0 - Utility*/

	/*5.1 - Background Colors*/
	
	/*5.2 - Text Colors*/
	
	/*5.3 - Text Sizes*/

#eveningoak p, blockquote {
	font-size:  1.313rem;
}
	/*5.4 - Alignments*/
	


#our-products .col-1-4:first-child .content p:nth-child(2), #our-products .col-1-4:nth-child(2) .content p:nth-child(2), #our-products .col-1-4:nth-child(3) .content p:nth-child(2), #our-products .col-1-4:nth-child(4) .content p:nth-child(2) {
	padding-bottom: 0px;
}


}

