@charset "UTF-8";
/* CSS Document */


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	background-color: orange;
	padding-top: 7px;
	padding-bottom: 10px;
}

footer {
	background-color: black;

}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

nav {
	color: black;
}

h2 {
	text-align: center;
	font-size: 50px;
	text-transform:uppercase;
}

li {
	display: inline-block;
	padding-top: 60px;
	vertical-align: middle;
}

ul {
	text-align: center;
}

img {
	max-width: 100%;
}

#eveningoak {
	background-image:url(../img/twin-finch-cover.jpg);
	height: 832px;
}

#our-products {
	padding-top: 200px;
	padding-bottom: 200px;
}

#quote {
	background-image:url(../img/twin-finch-back-image.jpg);
	height: 500px;
}

#quote p {
	padding-top: 140px;
	font-size: 40px;
}

#black {
	color: white;
	background-color: black;
	padding-top: 150px;
	padding-bottom: 150px;
}

#black h2 {
	text-align: left;
}

#black p {
	font-size: 25px;
	line-height: 37.5px;
}

#white-one {
	padding-top: 100px;
	padding-bottom: 100px;
}

#white-two {
	padding-top: 100px;
	padding-bottom: 100px;
	
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}

[class*='col-']:last-of-type {
	float: left;
	padding-right: 0px;
}

.bg {
	background-color: tomato;
	height: 200px;
}

 h1 {
	font-size: 95px;
	text-align: center;
}

#eveningoak p {
	font-size: 25px;
	text-align: center;

}

.col-7-2 {
	width: 100%;
	float: right;

}

form {
	margin-top: 20px;
	text-align: center;
}

input {
	margin: 20px;
	background-color: black;
	padding: 10px;
	width: 200px;
}

input:nth-child(2) {
	margin-right: 30px;
}



.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;

}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%;

}

.col-1-6 {
	width: 16.66%;

}

.col-1-7 {
	width: 14.28%;
}

.col-1-8 {
	width: 12.5%;
}

.col-1-9 {
	width: 11.1%;
}

.col-1-10 {
	width: 10%;
}

.col-1-11 {
	width: 9%;
}

.col-1-12 {
	width: 8.3%;
}


@media screen and (max-width: 480px) {
	
h1 {
	font-size: 45px;
	text-transform:uppercase;
	text-align: center;

}
	
h2 {
	text-align: center;
	font-size: 28px;
	text-transform:uppercase;
}

#quote p {
	padding-top: 100px;
	font-size: 21px;
}

#black h2 {
	text-align: left;
}

#black p {
	font-size: 19px;
	line-height: 28.5px;
}

	
.col-1-1 {
	width: 100%;
}

.col-1-2 {
	width: 100%;
}

.col-1-4 {
	width: 100%;
}

.col-1-4:nth-child(2) {
	padding-right: 0;
}

.col-1-5 {
	width: 100%;
}

.col-1-6 {
	width: 50%;
}

.col-1-7 {
	width: 100%;
}

.col-1-8 {
	width: 50%;
}

.col-1-9 {
	width: 33.3%;
}

.col-1-10 {
	width: 50%;
}

.col-1-11 {
	width: 100%;	
}

.col-1-12 {
	width: 33.3%;
}


}

