@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
	3.1 - Main Menu
	3.2 - Columns
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Text Colors
	5.3 - Text Sizes
	5.4 - Alignments
--------------------------------------------------------------*/

html {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

img {
	max-width: 100%;
}

*, *:after, *:before {
	-web-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper {
	margin: 0 auto;
	width: 75%;
}

.row:after {
	clear: both;
	content:"";
	display: table;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
}

/*1.0 - Typography*/

	/*1.1 - Headings*/

h1  {
	font-style:oblique;
}

	/*1.2 - Body Copy*/

a {
	text-decoration:none;
}

h2, h3, ul, h4 {
	text-transform:uppercase;
}

h1, h2, #box-five, #box-six, #s-four form, #s-five h3, #box-seven, #box-eight, #box-nine, #box-ten, #our-products {
	text-align: center;
}

	/*1.3 - Buttons*/
	
	/*1.4 - Forms*/
	
form {
	margin-top: 20px;
	margin-left: 30px;
}

input {
	margin-bottom: 20px;
	padding: 10px 0;
}

input:nth-child(2) {
	margin-right: 30px;
}

form h4 {
	float: left;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 500;
}

	/*1.5 - Lists*/

li {
	display: inline-block;
	margin-right: 10px;	
}

ul {
	list-style: none;
}
	
/*2.0 - Navigation Menus*/

	/*2.1 - Main Menu*/

nav {
	margin-right: 20px;
	margin-top: 60px;
}
	
	/*2.2 - Footer Menu*/

footer {
	padding-top: 50px;
	padding-bottom: 50px;
}
	
/*3.0 - Content*/

	/*3.1 - Site Structure*/
	
#about-us, #box-one {
	padding-top: 30px;
	padding-bottom: 30px;
}

#s-seven, #s-four , #contact {
	padding-top: 50px;
	padding-bottom: 50px;
}

#bquote {
	padding-top: 100px;
	padding-bottom: 100px;
}

#box-three {
	padding-left: 200px;
}

#box-sixteen, #box-ten {
	height: 100px;	
}

#box-one, #box-two{
	height: 155px;
}

.box-fifteen {
	height: 600px;
}

#box-three, #box-four, #box-five, #box-six{
	margin-top: 100px;	
}

#box-seven, #box-eight, #box-nine, #box-ten {
	margin-top: 200px;
}

#box-five, #box-seven {
	margin-left: 100px;
}

#box-eight {
	margin-left: 150px;
}

#box-ten {
	margin-left: 200px;
}

#box-six, #box-nine {
	margin-right: 100px;
}

.box-fifteen p {
	line-height: 39px;
}

	/*3.2 - Columns*/

.col-1-1, #white-two form, #white-two input {
	width: 100%;
}

.col-5-6 {
	width: 83.33%;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	width: 20%
}

.col-1-6 {
	width: 16.66%;
}

.col-1-7 {
	width: 14.3%;
}

/*4.0 - Media*/

img {
	max-width: 100%;
}

#image {
	background-image:url(../img/background-header.jpg);
	padding-bottom: 300px;
}

#twin-finch-logo {
	background-image:url(../img/twin-finch-logo.png);
	height: 109px;
}

.circle {
  background-image:url(../img/product.png);
  background-position: center;
  width: 200px;
  height: 200px; 
  background-color: white;
  margin: 0 auto;
}

.col-1-2.circle, .col-1-2.red {
	width: 100%;
}

footer ul li:first-child, footer ul li:nth-child(2), footer ul li:last-child {
	height: 30px;
	width: 30px;
	background-position: 0 0;
}

footer ul li:first-child:hover, footer ul li:nth-child(2):hover, footer ul li:last-child:hover {
	background-position: 0 -30px;
}

footer ul li:first-child {
	background-image: url(../img/facebook-icon.png);
}

footer ul li:nth-child(2) {
	background-image:url(../img/twitter-icon.png);
}

footer ul li:last-child {
	background-image:url(../img/goog-icon.png);
}

/*5.0 - Utility*/

	/*5.1 - Background Colors*/
	
.black {
	background-color:rgba(163,163,163,0.32);
	width: 90%; 
	margin: 0 auto;
}

#bquote, #s-four, footer  {
	background-color: #000000;
}

#s-four {
	padding-bottom: 200px;
}

#bquote  {
	padding-bottom: 170px;

}

	/*5.2 - Text Colors*/

#bquote, #s-five form, #s-five h3, h1, #our-products, a {
	color: #FFF;
}

a:hover {
	color:rgba(127,124,124,1.00);
}
	
	/*5.3 - Text Sizes*/

nav {
	font-size: 1rem;
}

.box-fifteen p {
	font-size: 1.25rem;
}

h1  {
	font-size: 2.75rem;
}

h2  {
	font-size: 3.75rem;
}

	/*5.4 - Alignments*/
	
.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

#our-products h2 {
	margin-top: 100px;
}

@media (max-width: 480px) {
	
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
2.0 - Navigation Menus
	2.1 - Columns
3.0 - Content
	3.1 - Site Structure (Site Header, Advertisement, Site Footer)
4.0 - Utility
	4.1 - Text Sizes
	4.2 - Alignments
--------------------------------------------------------------*/

	
/*1.0 - Typography*/
	
	/*1.1 - Headings*/

h1 {
	line-height: 2.438rem;
}

h2 {
	text-transform:uppercase;
}

	/*1.2 - Body Copy*/
	
h1, ul {
	text-align: center;
}
	/*1.3 - Buttons*/
	
	/*1.4 - Forms*/
	
	/*1.5 - Lists*/

ul {
	margin: 0 auto;
	padding-right: 20px;
}

li  {
	margin-bottom: 20px;
}
	
/*2.0 - Navigation Menus*/
	
	/*2.1 - Columns*/
	
.col-1-2, .col-1-3, .col-1-4, .col-1-5, .col-1-6, .col-5-6 {
	width: 100%;
}

.wrapper {
    width: 85%;
}	

.col-1-2.circle, .col-1-2.red, #box-one, #box-two {
	width: 50%;
}

/*3.0 - Content*/

	/*3.1 - Site Structure (Site Header, Advertisement, Site Footer)*/

#box-one, #box-two {
	height: 100px;
}

/*4.0 - Utility*/
	
	/*4.1 - Text Sizes*/
	
.box-fifteen p {
	font-size: 1.188rem;
}

h1 {
	font-size: 1.688rem;
}

h2 {
	font-size: 1.875rem;
}

	/*4.2 - Alignments*/

#box-ten {
	padding: 0px;
	margin-left: 0px;
}

#box-one {
	margin-left: 90px;
}

#box-two {
	margin-left: 110px;
}

#box-three {
	margin-top: 100px;
	padding-left: 20px;
}

#our-products h2 {
	margin-bottom: 70px;
}

.box-fifteen p {
	padding-left: 20px;
	line-height:  1.75rem;
}
	
#contact {
	padding-top: 50px;
	padding-bottom: 50px;
}
	
}



